<h1 class="title">Pattern Memento</h1>

<div class="flex">
    <div class="block block-style">
        <button class="btn" (click)="setState()">Set state</button>
        <p class="message">Originator state: {{ state }}</p>
    </div>

    <div class="block block-style">
        <button class="btn" (click)="transferStateToCaretaker()">Transfer the state to Caretaker</button>
        <p class="message">The caretaker has a state:{{ transferState }}</p>
    </div>
</div>
<div class="flex">
    <div class="block block-style">
        <button class="btn" (click)="changeState()">Change originator state</button>
        <p class="message">Originator state: {{ changedState }}</p>
    </div>

    <div class="block block-style">
        <button class="btn" (click)="pickUpStateFromCaretaker()">Pick up state from caretaker</button>
        <p class="message">Originator state: {{ pickUpState }}</p>
    </div>
</div>