.flex {
    width: 97%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.block {
    width: 49%;
    height: 145px;
    margin: 30px auto;
}

button,
p {
    margin: 20px 0px 0px 15px;
}