<h1 class="title">Pattern Interpreter</h1>
<div class="block block-style">
    <p class="message">This simple dictionary contains only one letter <b>A</b></p>
    <p class="message">The word: <b>{{ word1 }}</b></p>
    <button class="btn" (click)="getResult1()">Get Result 1</button>
    <p class="message">{{ result1 }}</p>
</div>
<div class="block block-style">
    <p class="message">This simple dictionary contains only one letter <b>A</b></p>
    <p class="message">The word: <b>{{ word2 }}</b></p>
    <button class="btn" (click)="getResult2()">Get Result 2</button>
    <p class="message">{{ result2 }}</p>
</div>