<h1 class="title">Pattern Flyweight</h1>
<div class="block block-style">
    <button class="btn" (click)="createMike()">Create Mike Myers</button>
    <p class="message">{{ mikeGreeting }}</p>
</div>

<div class="flex">
    <div class="block block-style">
        <button class="btn" (click)="createAustin()">Create Austin Powers</button>
        <p class="message">{{ austinGreeting }}</p>
    </div>

    <div class="block block-style">
        <button class="btn" (click)="createDrEvil()">Create Dr Evil</button>
        <p class="message">{{ drEvilGreeting }}</p>
    </div>
</div>